// Galerija
.galerija-section {
  padding-top: 3rem;

  .container {
    .my-gallery {
      padding-top: 5rem;
      line-height: 0;
      column-count: 2;
      column-gap: 1rem;

      figure {
        margin-bottom: 1rem;
      }
    }
  }
}

// Video Galerija
.galerija-video-section {
  padding-top: 0;

  .container {
    .video-gallery-wrapper {
      padding-top: 5rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 5rem;

      iframe {
        width: 100%;
      }
    }
  }
}

// Responsive Media Queries
@media (min-width: 768px) {
  .galerija-section {
    .container {
      .my-gallery {
        column-count: 3;
      }
    }
  }

  .galerija-video-section {
    .container {
      .video-gallery-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .galerija-section {
    .container {
      .my-gallery {
        column-count: 4;
      }
    }
  }
}

@media (min-width: 1140px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1600px) {
}
