@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #010101;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  transition: all 0.4s ease;
}

body a {
  color: #010101;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.text-small {
  font-size: 0.8rem;
}

.text-extra-small {
  font-size: 0.64rem;
}

.text-white {
  color: #ffffff;
}

.font-primary {
  font-family: 'Poppins', sans-serif;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-5 {
  opacity: 0.5;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar-margin-top {
  height: 99px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .container {
    width: 720px;
  }
  .navbar-margin-top {
    height: 109px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1140px) {
  .navbar-margin-top {
    height: 139px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }
  .container {
    width: 1140px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 20px;
  }
  .container {
    width: 1300px;
  }
  .navbar-margin-top {
    height: 148px;
  }
}

.nav {
  position: fixed;
  width: 100%;
  padding: 1rem 10%;
  z-index: 1000;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.nav .nav-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 1;
}

.nav-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.nav-wrapper .nav-logo {
  width: 70px;
}

.nav-wrapper .navigation {
  display: none;
  font-weight: 600;
}

.nav-wrapper .navigation .nav-up {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.nav-wrapper .navigation .nav-up .up-link:nth-child(1) {
  margin-right: 1rem;
}

.nav-wrapper .navigation .nav-up i {
  color: #f1b604;
}

.nav-wrapper .navigation .nav-down .nav-list {
  display: flex;
}

.nav-wrapper .navigation .nav-down .nav-list .link-item {
  margin-right: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
}

.nav-wrapper .navigation .nav-down .nav-list .link-item .arrow {
  height: 10px;
  margin-left: 5px;
  transition: all 0.2s ease-in-out;
}

.nav-wrapper .navigation .nav-down .nav-list .link-item:hover:after, .nav-wrapper .navigation .nav-down .nav-list .link-item.active:after {
  transform: scaleX(100%);
}

.nav-wrapper .navigation .nav-down .nav-list .link-item:hover .arrow, .nav-wrapper .navigation .nav-down .nav-list .link-item.active .arrow {
  transform: rotate(90deg);
}

.nav-wrapper .navigation .nav-down .nav-list .link-item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: #f1b604;
  transform-origin: center;
  transition: all 0.2s ease-in-out;
  transform: scaleX(0);
  z-index: 1;
}

.nav-wrapper .navigation .nav-down .nav-list .link-item:nth-child(7) {
  margin-right: 0;
}

.nav-wrapper .navigation .nav-down .nav-list .dropdown {
  position: relative;
}

.nav-wrapper .navigation .nav-down .nav-list .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.nav-wrapper .navigation .nav-down .nav-list .dropdown:hover .link-item:after {
  transform: scaleX(100%);
}

.nav-wrapper .navigation .nav-down .nav-list .dropdown:hover .link-item .arrow {
  transform: rotate(90deg);
}

.nav-wrapper .navigation .nav-down .nav-list .dropdown .dropdown-menu {
  position: absolute;
  top: 50px;
  left: 0;
  top: 25px;
  padding-top: 20px;
  background: #ffffff;
  min-width: 300px;
  transform: translateX(-30%);
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0;
  visibility: hidden;
}

.nav-wrapper .navigation .nav-down .nav-list .dropdown .dropdown-menu .dropdown-menu-item {
  border-bottom: 1px solid #f1b604;
}

.nav-wrapper .navigation .nav-down .nav-list .dropdown .dropdown-menu .dropdown-menu-item .dropdown-menu-link {
  display: block;
  padding: 1rem 1rem;
}

.nav-wrapper .navigation .nav-down .nav-list .dropdown .dropdown-menu .dropdown-menu-item .dropdown-menu-link:hover, .nav-wrapper .navigation .nav-down .nav-list .dropdown .dropdown-menu .dropdown-menu-item .dropdown-menu-link:focus {
  background: #f1b604;
}

.nav-wrapper .navigation .nav-down .nav-list .dropdown .dropdown-menu .dropdown-menu-item:last-child {
  border-bottom: none;
}

.burger-menu {
  cursor: pointer;
  outline: 0;
  border: none;
  background: none;
  z-index: 99;
}

.burger-menu span {
  display: block;
  width: 24px;
  height: 3px;
  background: #f1b604;
  margin: 5px 0;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.burger-menu.active span:first-child {
  transform: translateY(5px) rotate(45deg);
}

.burger-menu.active span:last-child {
  transform: translateY(-3px) rotate(-45deg);
}

.menu-responsive {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #f1b604;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.5s cubic-bezier(0.9, 0.12, 0.2, 1);
  transform: translateY(-120%);
  z-index: -1;
}

.menu-responsive.active {
  transform: translateY(0);
}

.menu-responsive .menu-responsive-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 99px);
  justify-content: space-between;
}

.menu-responsive .menu-responsive-wrapper .menu-responsive-links {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.menu-responsive .menu-responsive-wrapper .menu-responsive-links .menu-responsive-link-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-responsive .menu-responsive-wrapper .menu-responsive-links .menu-responsive-link-item .menu-responsive-link {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.7rem 0;
  text-align: center;
}

.menu-responsive .menu-responsive-wrapper .menu-responsive-links .menu-responsive-link-item .menu-responsive-link .arrow {
  margin-left: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-responsive .menu-responsive-wrapper .menu-responsive-links .menu-responsive-link-item .menu-responsive-link:hover .arrow {
  transform: translateX(5px);
}

.menu-responsive .menu-responsive-wrapper .menu-responsive-links .menu-responsive-link-item:last-child {
  border-bottom: none;
}

.menu-responsive .menu-responsive-wrapper .menu-responsive-contact {
  display: flex;
}

.menu-responsive .menu-responsive-wrapper .menu-responsive-contact a {
  flex: 1;
  padding: 30px;
  text-align: center;
  background: #fcc82c;
  font-size: 1.2rem;
}

.menu-responsive .menu-responsive-wrapper .menu-responsive-contact .phone {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-responsive .menu-responsive-wrapper .responsive-sub-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e7ae04;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.9, 0.12, 0.2, 1);
  transform: translateX(100%);
}

.menu-responsive .menu-responsive-wrapper .responsive-sub-menu.active {
  transform: translateX(0);
}

.menu-responsive .menu-responsive-wrapper .responsive-sub-menu .sub-menu-wrapper .back-button {
  padding: 1rem 0;
  background: #f1b604;
  font-size: 1.3rem;
  cursor: pointer;
}

.menu-responsive .menu-responsive-wrapper .responsive-sub-menu .sub-menu-wrapper .sub-menu-links .sub-menu-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-responsive .menu-responsive-wrapper .responsive-sub-menu .sub-menu-wrapper .sub-menu-links .sub-menu-item .sub-menu-link {
  display: block;
  padding: 1.7rem 0;
}

@media (min-width: 1125px) {
  .nav-wrapper .navigation {
    display: block;
  }
  .nav-wrapper .nav-logo {
    width: 100px;
  }
  .menu-responsive {
    display: none;
  }
  .burger-menu {
    display: none;
  }
}

.btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out;
  font-size: 1.25rem;
}

.btn span:first-child {
  position: relative;
  transition: color 0.5s cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 5;
}

.btn span:last-child {
  display: block;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
  top: 20%;
  transform: translateY(225%);
}

.btn:after {
  content: '';
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 103%;
  height: 100%;
  transform-origin: bottom center;
  transition: transform 0.5s cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 9;
}

.btn:hover span:last-child {
  transform: translateY(0);
  transition: all 0.8s cubic-bezier(0.48, 0, 0.12, 1);
}

.btn:hover:after {
  transform: skewY(9.3deg) scaleY(2);
}

.btn-primary {
  background: #f1b604;
  color: #010101;
}

.btn-primary span:first-child {
  color: #010101;
}

.btn-primary span:last-child {
  color: #ffffff;
}

.btn-primary:after {
  background: #010101;
}

.btn-outline {
  background: none;
  color: #ffffff;
  outline: 1px solid #f1b604;
  outline-offset: -1px;
}

.btn-outline span:first-child {
  color: #ffffff;
}

.btn-outline span:last-child {
  color: #010101;
}

.btn-outline:after {
  background: #f1b604;
}

.btn-large {
  font-size: 1.5rem;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.section {
  padding: 10rem 0;
}

.section .section-header {
  border-top: 7px solid #f1b604;
  overflow: hidden;
}

.section .section-header .container .section-header-wrapper {
  position: relative;
  display: inline-block;
}

.section .section-header .container .section-header-wrapper h2 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}

.section .section-header .container .section-header-wrapper h5 {
  position: relative;
  margin-bottom: 1rem;
  z-index: 1;
}

.section .section-header .container .section-header-wrapper .section-header-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 300%;
  height: 100%;
  background: url("./img/background/section-header-bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  z-index: 0;
  transform: translateX(200px);
}

.section .section-header.section-header-right .container {
  text-align: right;
}

.section .section-header.section-header-right .container .section-header-wrapper {
  text-align: left;
}

.section .section-header.section-header-right .container .section-header-wrapper .section-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  background: url("./img/background/section-header-right.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  z-index: -1;
  transform: translateX(-200px);
}

.hero {
  position: relative;
  min-height: 80vh;
  background: url("./img/background/hero-banner.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero .dark-overlay {
  z-index: 1;
}

.hero .header-wrapper {
  position: relative;
  z-index: 2;
}

.hero .header-wrapper h1 {
  color: #f1b604;
  font-size: 2rem;
  font-weight: 600;
}

.hero .header-wrapper h5 {
  font-weight: 200;
}

.hero .header-wrapper .btn-wrapper {
  margin-top: 1.5rem;
}

.hero .header-wrapper .btn-wrapper .btn:nth-child(1) {
  margin-right: 1rem;
}

.proizvodi-usluge-gallery {
  padding: 5rem 0;
}

.proizvodi-usluge-gallery .container .gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card {
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card .image-wrapper {
  width: 100%;
  height: 0;
  padding: 50%;
  position: relative;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card .image-wrapper .image-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card .caption-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 2;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card .caption-wrapper .caption {
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #f1b604;
  transform: scale(0.8);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card .card-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.7) 100%);
  opacity: 0.9;
  z-index: 1;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:hover .image-wrapper .image-inner {
  transform: scale(1.2);
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:hover .caption-wrapper .caption {
  transform: scale(1);
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:hover .card-shadow {
  transform: translateY(50%);
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(1) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/masinska-obrada.jpg");
  background-size: cover;
  background-position: center;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(2) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/alat-za-slivnik.jpg");
  background-size: cover;
  background-position: center;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(3) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/pvc-paneli-vrata.jpg");
  background-size: cover;
  background-position: center;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(4) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/cnc-automat-za-zicane-delove.jpg");
  background-size: cover;
  background-position: center;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(5) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/cnc-automat-za-zicane-delove.jpg");
  background-size: cover;
  background-position: center;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(6) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/set-alata.jpg");
  background-size: cover;
  background-position: center;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(7) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/brodic.jpg");
  background-size: cover;
  background-position: center;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(8) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/metalni-delovi.jpg");
  background-size: cover;
  background-position: center;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(9) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/masina-za-stamparije.jpg");
  background-size: cover;
  background-position: center;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(10) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/mesoreznica.jpg");
  background-size: cover;
  background-position: center;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(11) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/ostrenje.jpg");
  background-size: cover;
  background-position: center;
}

.proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card:nth-of-type(12) .image-wrapper .image-inner:nth-of-type(1) {
  background: url("./img/proizvodi-usluge/tocilica.jpg");
  background-size: cover;
  background-position: center;
}

.saradnici-section {
  background: #fafafa;
}

.saradnici-section .container .saradnici-wrapper .saradnici-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saradnici-section .container .saradnici-wrapper .saradnici-flex img {
  margin: 0 1rem;
  width: auto;
  max-height: 50px;
}

.saradnici-section .container .saradnici-wrapper .saradnici-flex:nth-of-type(1) {
  margin-bottom: 5rem;
}

.o-nama-section .o-nama-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 5rem;
}

.o-nama-section .o-nama-wrapper .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.o-nama-section .o-nama-wrapper .description p:nth-of-type(1),
.o-nama-section .o-nama-wrapper .description p:nth-of-type(2) {
  margin-bottom: 2rem;
}

.o-nama-section .o-nama-wrapper .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.o-nama-section .o-nama-wrapper .logo img {
  width: 70%;
}

.nas-tim-section {
  background: #fafafa;
}

.nas-tim-section .container .nas-tim-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem 3rem;
  margin-top: 10rem;
}

.nas-tim-section .container .nas-tim-wrapper .nas-tim-card {
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  background: #ffffff;
}

.nas-tim-section .container .nas-tim-wrapper .nas-tim-card img {
  width: 50%;
  margin-top: -50%;
  border-radius: 50%;
}

.nas-tim-section .container .nas-tim-wrapper .nas-tim-card h4 {
  color: #f1b604;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.7rem;
}

.nas-tim-section .container .nas-tim-wrapper .nas-tim-card .text-small {
  margin-top: 1rem;
}

.footer {
  background: #f1b604;
  padding: 5rem 0;
}

.footer .container .footer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.footer .container .footer-wrapper .footer-box .box-header {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.footer .container .footer-wrapper .footer-box .box-links .box-link-item {
  margin-bottom: 1rem;
}

.footer .container .footer-wrapper .footer-box .box-links .box-link-item .box-link {
  position: relative;
}

.footer .container .footer-wrapper .footer-box .box-links .box-link-item .box-link:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #010101;
  transition: all 0.3s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}

.footer .container .footer-wrapper .footer-box .box-links .box-link-item .box-link:hover:after {
  transform: scaleX(1);
}

@media (min-width: 768px) {
  .hero .header-wrapper h1 {
    font-size: 3.052rem;
  }
  .proizvodi-usluge-gallery .container .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 2rem;
  }
  .o-nama-section .o-nama-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .o-nama-section .o-nama-wrapper .logo {
    justify-content: end;
    margin-top: 0;
  }
  .o-nama-section .o-nama-wrapper .logo img {
    width: 70%;
  }
  .footer .container .footer-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (min-width: 992px) {
  .saradnici-section .container .saradnici-wrapper {
    display: flex;
  }
  .saradnici-section .container .saradnici-wrapper .saradnici-flex {
    width: 50%;
  }
  .saradnici-section .container .saradnici-wrapper .saradnici-flex:nth-of-type(1) {
    margin-bottom: 0;
  }
  .nas-tim-section .container .nas-tim-wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 0rem 3rem;
  }
  .nas-tim-section .container .nas-tim-wrapper .nas-tim-card img {
    width: 70%;
  }
  .footer .container .footer-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

@media (min-width: 1000px) {
  .proizvodi-usluge-gallery .container .gallery-grid {
    gap: 6rem 4rem;
  }
  .proizvodi-usluge-gallery .container .gallery-grid .proizvodi-usluge-card .caption-wrapper .caption {
    font-size: 1.563rem;
  }
}
